<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../js/base.js"></script>
    <script src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/gallery.css">

    <style>
        *{margin: 0; padding: 0;}
    </style>
</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">
    <script>LoadNAVBAR();</script>
</div>
<div class="image">
    <div class="article"><img src="../../img/DF215501-C2C3-466A-B9DD-DC040F121A79_1_201_a.jpeg" height=auto width="300" class="im1"/></div>
    <div class="article"><img src="../../img/6EC53B33-F4C9-4106-AF5A-F8983D9278CF_1_201_a.jpeg" height=auto width="300" class="im2"/></div>
    <div class="article"><img src="../../img/B2216DA0-36DB-4542-9295-D2E74F949B8D_1_105_c.jpeg" height=auto width="300" class="im3"/></div>
    <div class="article"><img src="../../img/D665E208-8542-4FF5-B2B1-B5EF9AF41271_1_105_c.jpeg" height=auto width="300" class="im4"/></div>
    <div class="article"><img src="../../img/22543224-3970-455B-9EAB-C64234A7A839_1_105_c.jpeg" height=auto width="300" class="im5"/></div>
    <div class="article"><img src="../../img/7D6A62ED-7952-419A-BD6F-1BEBF92850F9_1_201_a.jpeg" height=auto width="300" class="im6"/></div>
    <div class="article"><img src="../../img/CEC557C2-6189-4582-81FC-984F75BF0CB2_1_201_a.jpeg" height=auto width="300" class="im7"/></div>
    <div class="article"><img src="../../img/0D5D408F-37C4-4D14-919E-EEFE71D7535B_1_105_c.jpeg" height=auto width="300" class="im8"/></div>
</div>
<div fot-include-path="../../templates/layout/footer.html">
    <script>LoadFOOTER();</script>
</div>
</body>
</html>
