<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../js/base.js"></script>
    <script src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/information.css">
</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">
    <script>LoadNAVBAR();</script>
</div>
    <nav class="info">
        <div class="information">
            <p class="info_title">INFORMATION</p>
            <p class="i1">NAME</p>
            <p class="i1_1">이나경</p>
            <p class="i2">AGE</p>
            <p class="i2_1">2005년 8월 24일 (만18세)</p>
            <p class="i3">MBTI</p>
            <p class="i3_1">ENTJ</p>
            <p class="i4">ADDRESS</p>
            <p class="i4_1">인천광역시 부평구</p>
            <p class="i5">TMI</p>
            <p class="i5_1">키:170.4cm</p>
            <p class="i5_2">좋아하는 색: 네이비</p>
            <p class="i5_3">고2 남동생 있음...</p>
            <p class="i5_4">써브웨이 알바생</p>
        </div>

        <div class="hobby">
            <p class="hobby_title">HOBBY</p>
            <p class="h1">TENNIS</p>
            <p class="h1_1">최근에 테니스 동아리에 가입해서... 열심히 배우고 있습니다.</p>
            <p class="h2">BASEBALL</p>
            <p class="h2_1">하는 거 말고 보는 걸 좋아합니다. 저는 SSG를 응원하고 있습니다!</p>
        </div>

        <div class="sns">
            <p class="sns_title">SNS</p>
            <a href="https://www.instagram.com/gray.z0?igsh=MXVtZmI3eXA3ZTU0ZA%3D%3D&utm_source=qr" class="s1">INSTAGRAM</a>
            <a href="https://m.blog.naver.com/lnk1101603" class="s2">BLOG</a>
            <a href="https://music.apple.com/profile/ButtocksHop" class="s3">APPLE MUSIC</a>
        </div>
    </nav>
<div fot-include-path="../../templates/layout/footer.html">
    <script>LoadFOOTER();</script>
</div>
</body>
</html>