<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../js/base.js"></script>
    <script src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/introduce.css">
</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">
    <script>LoadNAVBAR();</script>
</div>
    <div class="mimo_div">
        <a href="information.html"><img src="../../img/mimo_main.jpeg" alt="mimo_main" class="mimo_main"></a>
        <p class="name">NIICKA</p>
        <p class="name_history">세례명이 monica라서...</p>
    </div>

    <div class="gallery_div">
        <button class="gallery_btn">
            <a href="gallery.html"><img src="../../img/gray%20block.png" alt="gallery_grayblock" class="gallery_block"></a>
            <a href="gallery.html" class="gallery">GALLERY</a>
        </button>
    </div>
<div fot-include-path="../../templates/layout/footer.html">
    <script>LoadFOOTER();</script>
</div>
</body>

</html>