<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../js/base.js"></script>
    <script src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">
    <script>LoadNAVBAR();</script>
</div>
    <div class="give_homework_div">
        <p class="homework_give">과제부여하기</p>
    </div>
    <div class="homework_menu_div">
        <img src="../../img/book-btn.png" alt="homework_menu_btn" class="homework_menu_btn">
        <h3>과제 목록</h3>
    </div>
    <div class="homework_box">
        <div class="homework_txt_div">
            <h5>[과제:깃]</h5>
            <p class="center_homework">repository 생성과 push</p>
            <p class="right_homework">3월27일 월요일 19시까지</p>
        </div>

        <div class="homework_txt_div">
            <h5>[과제:HTML&CSS]</h5>
            <p class="center_homework">12기 멋사 LMS 페이지 따라하기</p>
            <p class="right_homework">4월3일 월요일 19시까지</p>
        </div>

        <div class="homework_txt_div">
            <h5>[과제:JS]</h5>
            <p class="center_homework">반응형 웹페이지 만들어보기</p>
            <p class="right_homework">3월27일 월요일 19시까지</p>
        </div>

        <div class="homework_txt_div">
            <h5>[과제:Java]</h5>
            <p class="center_homework">클래스 속성을 이용해서 은행계좌 만들기</p>
            <p class="right_homework">3월27일 월요일 19시까지</p>
        </div>
    </div>
<div fot-include-path="../../templates/layout/footer.html">
    <script>LoadFOOTER();</script>
</div>
</body>
</html>